@import "../../app/shared/styles/global-variables.scss";

.text-wrapper {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f2f2+0,f9f9f9+52,fefefe+100 */
    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(left, #f2f2f2 0%, #f9f9f9 52%, #fefefe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f2f2f2 0%, #f9f9f9 52%, #fefefe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to right,
        #f2f2f2 0%,
        #f9f9f9 52%,
        #fefefe 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 */
    padding: 75px 0 75px 75px;
}

.iphone-content {
    p:nth-child(3) {
        font-size: 24px;
        margin-top: 30px;
    }

    p:nth-child(4) {
        color: $red-color;
        font-size: 14px;
    }
}

.image-wrapper {
    text-align: center;

    img {
        position: absolute;
        top: 50px;
        left: 0;
        width: 430px;
        transition: all 0.2s ease-in-out;
    }
}

.price-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 75px;

    p {
        color: #cccccc;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 0;
    }

    a {
        color: $red-color;
        padding-left: 0;
        font-weight: 600;
        line-height: 0;
    }
}

.slide-wrapper {
    padding-left: 120px;

    img {
        margin: 50px 20px;
        cursor: pointer;
    }
}

.slider {
    -webkit-appearance: none;
    width: 208px;
    height: 10px;
    background: #f2f2f2;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-left: 40px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 10px;
    background: $red-color;
    cursor: pointer;
}

/* Responsive - Mobile */
@media (max-width: $breakpoint-phone) {
    .text-wrapper {
        padding: 20px;
    }

    .price-wrapper {
        padding: 10px;
        text-align: center;
        p {
            font-size: 25px;
        }
        a {
            font-size: 18px;
        }
    }

    .image-wrapper {
        height: 275px;
        img {
            max-width: 160px;
            top: 0;
            left: 20%;
        }
    }

    .slide-wrapper {
        padding: 10px;
        text-align: center;
        img {
            margin: 5px;
            width: 60px;
        }
        .slider {
            margin: 0;
        }
    }

    @media (orientation: Landscape) {
        .section-wrapper {
            .text-wrapper {
                width: 60%;
            }
            .image-wrapper {
                width: 40%;
            }
        }
    }
}
