@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap");

$primary-font: "Poppins", sans-serif !default;
$primary-font-color: #999999;
$secondary-font-color: #707070;
$red-color: #FF3B30;
$blue-color: #5ac8fa;
$primary-font-size: 20px;
$label-font-size: 16px;
$placeholder-font-size: 14px;
$breakpoint-phone: 767px;
$breakpoint-small-desktop: 1400px;
