<div class="row">
    <div class="col-md-12 welcome-header flex-center-center">
        <a [routerLink]="['/home']">
            <picture>
                <img src="../../assets/images/white-apple-logo.png" alt="White Apple">
            </picture>
        </a>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-md-12 welcome-wrapper">
        <div class="row blue-section" (click)="goToHome()">
            <div class="col-md-12 welcome-container">
                <h4>New Products Coming This Summer</h4>

                <div class="odometer-wrapper">
                    <ng2-odometer [number]="year" [config]="odometerConfig"></ng2-odometer>
                </div>

                <img src="../../assets/images/white-apple-logo.png">
            </div>
        </div>
    </div>
</div>